# ======================
# Git attribute settings
# ======================
# -- https://www.git-scm.com/docs/gitattributes

# Ensure that all text files (from any contributor) have their line-endings normalized
* text=auto
